

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/HelveticaNeueBold.woff") format("woff");
  font-weight: bold; 
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", "Times New Roman", "Arial";
  font-weight: 700;
}
