@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neu";
  src: url("/font/Helvetica-Neu-Bold.woff2");
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
}
